{{#each tops}}
    <div class="col-12 col-md-4 p-1">
        <a href="#" class="js-top-btn" data-top-id="{{id}}"  id="top-{{id}}">
            <img src="{{img}}" alt="{{name}}" class="img-thumbnail p-3">
        </a>
    </div>
{{/each}}