{{#each bottoms}}
    <div class="col-6 col-md-4">
        <a href="#" class="js-bottom-btn" data-bottom-id="{{id}}" id="bottom-{{id}}">
            <img src="{{img}}" alt="{{name}}" class="img-thumbnail p-3">
        </a>
    </div>
{{/each}}